language: node_js
sudo: false
node_js:
  - "8"

cache:
  directories:
    - node_modules

install:
  - npm install

script:
  - npm run lint
  - npm run build
  - npm run test:coverage
  - npm run coveralls
